<header id="nav-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Rau tươi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="d-flex justify-content-center w-100">
    <div class="mt-4 card w-50 ">
        <div class="card-body blob">
            <h3 class="card-title d-flex justify-content-center">Đăng nhập</h3>
            <div class="form-group ">
                <label for="username">Tên đăng nhập: </label>
                <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập">
            </div>

            <div class="form-group ">
                <label for="password">Mật khẩu: </label>
                <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
            </div>

            <div class="d-flex justify-content-end">
                <a class="btn btn-info" href="/">Quay lại</a>
                <button class="btn btn-primary" onclick="login()">Đăng nhập</button>
            </div>
        </div>
    </div> 

</div>
<script>
    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires="+d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for(let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
            c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function login(){

        $.ajax({
            url: "/login",
            type: "POST",
            data: {
                username: $("#username").val(),
                password: $("#password").val(),
            }
        })
        .then(data => {
            setCookie('token', data.token, 2)
            localStorage.setItem("name", data.name)
            window.location.href = "/items/showFE"
        })
        .catch(err => {
            console.log(err)
        })
    }
</script>