<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Rau tươi</a>
        </div>
    </nav>
</header>

<div class="mt-4 container">
    <h3>Đăng ký</h3>
    <form method="POST" action="" name="regfr" onsubmit="return frmValidate()">

        <div class="form-group">
            <label for="name">Nhập tên người dùng</label>
            <input type="username" class="form-control" id="username" name="username" required/>
        </div>

        <div class="form-group">
            <label for="password">Mật khẩu:</label>
            <input type="password" class="form-control" id="password" name="password " pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mật khẩu phải trên 8 ký tự, có ít nhất một số, một chữ cái viết hoa và viết thường" required>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Mật khẩu:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
        </div>

        <div class="form-group">
            <label for="name">Họ và tên:</label>
            <input type="text" class="form-control" id="name" name="name" / required>
        </div>

        <div class="form-group">
            <label for="age">Tuổi:</label>
            <input type="number" class="form-control" id="age" name="age" / required>
        </div>

        <div class="form-group">
            <label for="avt">Link ảnh đại diện:</label>
            <input type="text" class="form-control" id="avt" name="avt" />

        </div>

        <div class="form-group">
            <label for="address">Địa chỉ:</label>
            <textarea class="form-control" aria-label="With textarea" name="address" id="address" cols="30" rows="4" required></textarea>

        </div>

        <div class="form-group">
            <label for="phoneNumber">Số điện thoại liên hệ:</label>
            <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" required />
        </div>
        
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>

<script>
    function frmValidate(){
        var frm = document.forms['regfr'];
        var pass1 = frm.password;
        var pass2 = frm.confirmPassword;

        if(!(pass1.value === pass2.value)){
            alter("Mật khẩu nhập lần 2 sai!");
            pass2.focus();
            return false;
        }

        alert("Đăng ký thành công!");
        return true;
    }
</script>