<div class="mt-4">
    <div class="row">

       <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item"><a href="/items/create">Thêm sản phẩm</a></li>
                <li class="list-group-item"><a href="/items/show">Hiển thị sản phẩm</a></li>
                <li class="list-group-item"><a href="/admin/show/users">Hiển thị danh sách người dùng</a></li>
                <li class="list-group-item"><a href="">Thống kê</a></li>
            </ul>
       </div>
       <div class="col-9"></div>

    </div>
</div>