<footer class="navbar navbar-dark bg-dark d-flex h-4 text-footer">
  <div class="text-white">
    Đuợc thực hiện bởi Lâm
  </div>

  <div class="text-white mr-3">
    <ul>
      <h7>Mọi chi tiết xin liên hệ:</h7>
      <li>Email: endweed@gmail.com</li>
      <li>SDT: 0393571523</li>
    </ul>

  </div>
</footer>