<header id="nav-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold font-weight-bold" href="/">Rau tươi</a>
    
</header>
<div class="d-flex">
    <div class="slide-bar">
        <div class="navbar navbar-dark bg-dark align-items-start" id="navbar-main">
            <div class="nav flex-column nav-pills" id="v-pills-tab navbar-main" role="tablist" aria-orientation="vertical">
                <a class="btn-hover btn text-white" href="/login" >Đăng nhập</a>
                <a class="btn-hover btn text-white" href="/register" >Đăng ký</a>
            </div>
        </div>
    </div>

    <div class="w-100 m-4">
       <h3>Chào mừng bạn đến với trang web của chúng tôi</h3>

        <div>
            <h4>Giới thiệu</h4>
            <div class=" row d-flex justify-content-around">
                <img width="320px" height="200px" src="https://petrotimes.vn/stores/news_dataimages/lethutrang/102018/04/10/5-loai-rau-que-quen-thuoc-la-bai-thuoc-quy_4.jpg" alt="">
                <img width="320px" height="200px" src="https://i0.wp.com/thungxop.com.vn/wp-content/uploads/2018/10/cach-trong-rau-mong-toi-trong-thung-xop1.jpg?resize=600%2C375&ssl=1" alt="">
                <img width="320px" height="200px" src="https://dacsandalat.com.vn/wp-content/uploads/2017/02/khoai31.jpg" alt="">
            </div>   
            <p class="mt-3 text-justify">- Trang web rau tươi là nơi bán rau củ sạch online. Chuyên cung cấp những bó rau sạch tươi mới cho nhiều hộ gia đình đã tin tưởng và đặt hàng trên trang web của cúng tôi
                . Web rau tươi sẽ là nơi đáp ứng đầy đủ mọi nhu cầu của khách hàng về đa dạng sản phẩm, chất lượng và giá cả hợp lý. Chúng tôi sẽ luôn cố gắng nổ lực sáng tạo để không ngừng nâng 
                cao chất lượng sản phẩm để đáp lại sự tin cậy của Quý khách hàng. Nhằm nâng cao chất lượng sản phẩm và chất lượng phục vụ ngày càng tốt hơn, web rau tươi rất mong được sự 
                ủng hộ và nhận ý kiến đóng góp từ phía Quý khách hàng.
            </p>
        </div>

        <div>
            <h4>Tiêu chí của cửa hàng</h4>
            <p>- Chúng tôi luôn chuọn những sản phẩm đã đạt được tiêu chuẩn VietGAP. Với phương châm: sức khỏe của bạn là niềm vui của chúng tôi.
                 Giải thích về tiêu chuẩn VietGAP để mọi người có cái nhìn tổng quan về trang web của chúng tôi.
            </p>
        </div>

        <div>
            <h4>VietGAP</h4>
            <p>- <strong>VietGAP</strong> là viết tắt của cụm từ Vietnamese Good Agricultural Practices có nghĩa là Thực hành sản xuất nông nghiệp tốt ở Việt Nam dựa trên 4 tiêu chí như sau:</p>
            <div>
                <h5>Tiêu chuẩn về kỹ thuật sản xuất</h5>
                <p>- Quy định cụ thể về kỹ thuật sản xuất từ khâu chọn đất, giống, phân bón cho đến thu hoạch theo đúng quy định cụ thể cho từng lĩnh vực trồng trọt, chăn nuôi, thủy sản.</p>
            </div>

            <div>
               <h5>An toàn thực phẩm</h5>
                <p>- Gồm các biện pháp đảm bảo không có hóa chất nhiễm khuẩn hoặc ô nhiễm vật lý khi thu hoạch.</p> 
            </div>
            
            <div>
               <h5>Môi trường làm việc</h5>
                <p>- Mục đích nhằm ngăn chặn việc lạm dụng sức lao động của nông dân.</p> 
            </div>
            
            <div>
                <h5>Truy tìm nguồn gốc sản phẩm</h5>
                <p>- Tiêu chuẩn này cho phép xác định được những vấn đề từ khâu sản xuất đến tiêu thụ sản phẩm.</p>
            </div>
            

            <div>
                - <strong> Có thể hiểu nôm na</strong>, các sản phẩm đạt tiêu chuẩn VietGAP là các sản phẩm chất lượng tốt, đảm bảo an toàn vệ sinh thực phẩm, không sử dụng các hóa chất hay chất độc hại với cơ thể con người và cả môi trường, được sản xuất và thu hoạch đúng quy trình, có nguồn thông tin truy xuất rõ ràng cho sản phẩm.
            </div>
        </div>

        <div class="mt-3">
            <h4>Tại sao bạn nên chọn chúng tôi?</h4>
            <p>Vị trí cửa hàng được đặt gần nơi cung cấp hoa, quả nên các bạn cứ yên tâm về chất lượng. Với đọi ngũ làm việc
                tận tâm làm việc 24/7, bạn không phải lo về việc cửa hàng thiếu rau, củ.
            </p>
        </div>

    </div>
</div>